.Bagianbrand {
  display: flex;
  padding-top: 30px;
}

.BagianAtas {
  width: 30px;
  display: flex;
  align-items: center;
  grid-column-gap: 40px;
}

.Link {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-family: sans-serif;
}

.Link:hover { 
  color: gray;
}

